# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
cscope.*
cassette.man.pdf
cassette.txt
cmddump
cmddump.man.pdf
cmddump.txt
compile_rom
cpmutil.txt
esfrom.hex
esfrom.lst
fakerom.hex
fakerom.lst
hex2cmd
hex2cmd.man.pdf
hex2cmd.txt
mkdisk
mkdisk.man.pdf
mkdisk.txt
trs_rom1.c
trs_rom1x.c
trs_rom3.c
trs_rom4p.c
xtrs
xtrs.man.pdf
xtrs.txt
xtrsrom4p.hex
xtrsrom4p.lst
# CVS default ignores end
